[submodule "tools/pcodec"]
	path = tools/pcodec
	url = https://github.com/pcodec/pcodec.git
[submodule "tools/LCP"]
	path = tools/LCP
	url = https://github.com/moonlightplague/LCP.git
[submodule "tools/SZo"]
	path = tools/SZo
	url = https://github.com/BingluCS/SZo.git
[submodule "tools/XnYZip"]
	path = tools/XnYZip
	url = https://github.com/moonlightplague/XnYZip.git
